.pop{
     display: flex;
    justify-content: space-between;
    margin:5px;
    margin-top: 50px;
    
}
.popular_split{
      display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left:5px ;
    margin-right: 5px;

}
.api_key{
     border-radius: 10px;
}