
.trend-all{
    display: flex;
    justify-content: space-between;
    margin:5px;
    
}
.img-split{
    
      display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-left:5px ;
    margin-right: 5px;

}
.num{
    color: var(--color-accent);
}
.trend{
    font-size: larger;
}
.see{
    color: var(--color-accent);
    font-size: larger;

}
.api{
    border-radius: 10px;
    
}
.div_api{
    padding: 5px;
}
.div_api:hover{
    background-color: black;
}